

<mat-card class="topic-card mat-elevation-z" tabindex="0">
  <div class="click-area" [routerLink]="['/topic', this.courseId, this.topicID, this.topic]" title="Click to go to topic">
    <mat-card-header class="card-header">
      <mat-card-title id="topic-title">{{topic}}</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        {{topicDescription}}
      </p>
    </mat-card-content>
  </div>
  
  <div class="footer">
    <div class="actions">
      <button class="action-btn" (click)="openUpdateTopicDialog()">UPDATE</button>
      <button class="action-btn" (click)="openDeleteTopicDialog()">DELETE</button>
    </div>
  </div>
</mat-card>
