
.header {
    background-color: rgb(255, 255, 255);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}

.header-spacer {
    flex: 1 1 auto;
  }

.welcome-space {
    padding-right: 25px;
    
}

.profile-btn {
    background-color: transparent;
    color: none;
    border: none;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-icon {
    
    height: 64px;
    width: 64px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo-img {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.sign-out {
    color: blue;
}