
.header {
    background-color: rgb(255, 255, 255);
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    //border-bottom: 10px solid rgb(132, 114, 165);
}

.header-spacer {
    flex: 1 1 auto;
    
  }

.welcome-space {
    padding-right: 25px;
    font-size: 24px;
    
}


.profile-btn {
    background-color: transparent;
    color: none;
    border: none;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-icon {
    
    height: 64px;
    width: 64px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
}


.menu-item a {
    text-decoration: none;
    color: black;
}


@media only screen and (max-width: 750px) {

    .header {
        padding-right: 20px;
    }
    .welcome-space {
        font-size: 16px;
        padding-right: 5px;
    }
    .profile-btn {
        width: 40px;
    }
    .profile-icon {
        height: 40px;
        width: 40px;
        font-size: 40px;
    }
    .logo-img {
        height: 40px;
        padding-left: 20px;
    }
}