
  
<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <header>

            <mat-toolbar class="header">
                <span><img class="logo-img" src="assets/simple-logo.png"></span>
                <span class="header-spacer"></span>
                <span class="welcome-space">Welcome {{profName}}</span>
                <!--Anjali's Welcome Professor-->

                 <button class="profile-btn" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon class="profile-icon">account_circle</mat-icon>
                 </button>
                    <mat-menu #menu="matMenu">
                    <button mat-menu-item class="menu-item"><a routerLink='/account-settings'>Account Settings</a></button>
                    <button mat-menu-item class="menu-item"><a routerLink='/about'>About</a></button>
                    <button mat-menu-item class="menu-item"><a routerLink='/help'>Help</a></button>

                    <button mat-menu-item><button mat-menu-item><amplify-sign-out class="sign-out"></amplify-sign-out></button></button>
                    </mat-menu> 

              </mat-toolbar>

             
           
           

            
            
        </header>
    </body>
</html>



