.rg {
    background-color: white;
}

.rg-title {
    font-size: x-large;
    height: 30px;
    padding-top: 6px;
}

.file {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(94, 12, 119);
    font-size: large;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}
//^^For resource group shell


.video-item {
    
    text-align: center;
    //border: 2px solid blueviolet;
    //align-self: stretch;
    margin-bottom: 10px;
    height: 150px;
    width: 200px;
    background-color: whitesmoke;
    border-radius: 5px;
}
.video-title {
    align-self: stretch;
    height: 40px;
}

.video-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    //align-items: stretch;
    height: 500;
    padding-left: 40px;
    justify-content: flex-start;

}

.playlist-container {
    align-items: center;
    display: flex;
}

.vidname {
    height: 50px;
}

.video-comp {
    flex-direction: column;
    width: 200px;
    padding: 15px 0;
}

.video-comp:last-of-type {
    margin-right: 50px;
}