<h2 mat-dialog-title style ="text-align: center;">ADD TOPIC</h2>
    <mat-dialog-content class ="container">
        <form novalidate class="topic-form" [formGroup]= "topic" > <!--(ngSubmit)="onSubmit(course)" -->
         <p> 
            <mat-form-field appearance ="legacy" class="input-fields">
                <mat-label style="font-size:18px; ">Topic Name</mat-label>
                <input matInput type="text" formControlName="TopicName">
            </mat-form-field>
        </p> 
        <p>
            <mat-form-field appearance ="legacy" class="input-fields">
                <mat-label style="font-size:18px; ">Topic Description</mat-label>
                <textarea matInput type="text" formControlName="TopicDescription"></textarea>
            </mat-form-field>
        </p>

           <!-- <p>
            <mat-form-field appearance ="legacy" class="input-fields">
                <mat-label style="font-size:18px; ">Course Name</mat-label>
                <input matInput type="text" formControlName="courseName" value={{name}}>
            </mat-form-field>
        </p> -->
        </form>

    </mat-dialog-content>

<mat-dialog-actions>
    <button class="btn-cancel" class="mat-raised-button" style="padding: 5px 30px;margin: auto;margin-bottom: 20px;" (click)="cancel()">Cancel</button>
    <button type ="btn-submit" class="mat-raised-button" style="padding: 5px 30px;margin: auto;margin-bottom: 20px;" (click)="onSubmit()">Create</button>   
</mat-dialog-actions>
