.mat-card {
    //padding: 2em;
    margin: 0px;
}

.course-card {
    max-width: 250px;
    min-width: 200px;
    max-height: 200px;
    margin: 20px 0;
}

.course-card:hover {
    background-color: rgb(237, 221, 241);
    cursor: pointer;
}
  
.default-img {
    max-width: 250px;
}