.mat-card {
    //padding: 2em;
    margin: 0px;
}

.course-card {
    //height: flex;
    width: 275px;
    margin: 20px 0;
}

.course-card:hover {
    background-color: rgb(237, 221, 241);
    cursor: pointer;
}
  
.default-img {
    max-width: 250px;
}

.mat-button {
    padding: 0;
    margin: 0;
}

.mat-card-actions {
    align-items: center;
    margin-left: 10px;
}





