
.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}

.course-card {
    //height: flex;
    width: 375px;
    height: 250px;
    margin: 20px 0;
    border-top: 15px solid #937FB3;
    border-bottom: 5px solid #937FB3;
    padding: 0px;
    background-color: white;
   
}

.course-card:hover {
    background-color: rgb(224, 207, 248);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.click-area {
    height: 190px;
    //background-color: white;
    padding: 10px 10px 0 10px;
    margin:  0 15px;
}

.click-area:hover {
    background-color: rgb(224, 207, 248);
    cursor: pointer;
}

.card-header {
    height: 64px;
    margin-bottom: 15px;
    
}



.card-icon {
    background-image: url('/assets/brain-icon.png');
    background-size: cover;
    //margin-top: 5px;
    height: 54px;
    width: 54px;
  }

  


#course-title {
    padding-top: 10px;
    height: 50px;
    font-size: 32px;
    margin-bottom: 0px;
    line-height: 90%;
    
}

.default-img {
    max-width: 250px;
}

p {
    padding-left: 21px;
    padding-right: 21px;
}

.mat-button {
    padding: 0;
    margin: 0;
}

.footer {
    align-items: center;
    margin: 0px;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color:#937FB3;
    color: white;
    padding-bottom: 10px;
}

.action-btn {
    padding-top: 7px;
    background: none;
    border: none;
    color: white;
}

.action-btn:hover {
    color: rgb(224, 207, 248);
}

.actions {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 959px) {

    .course-card {
        margin: 0;
        width: auto;
    }
}
