<h2 mat-dialog-title style ="text-align: center;">UPDATE TOPIC</h2>
    <mat-dialog-content class ="container">
        <form novalidate class="topic-form" [formGroup]= "topicForm" > <!--(ngSubmit)="onSubmit(course)" -->
            
        <p> 
            <mat-form-field appearance ="legacy" class="input-fields">
                <mat-label style="font-size:18px; ">Topic Name</mat-label>
                <input required matInput type="text" formControlName="topicName" placeholder={{topic}}>
            </mat-form-field>
        </p> 
           
        <p>
            <mat-form-field appearance ="legacy" class="input-fields">
                <mat-label style="font-size:18px; ">Topic Description</mat-label>
                <textarea required maxlength="180"matInput type="text" formControlName="topicDescription" placeholder={{topicDescription}}></textarea>
                <mat-hint>*character limit 180</mat-hint>
            </mat-form-field>
         </p>

        </form>

    </mat-dialog-content>

<mat-dialog-actions>
    <button class="btn-cancel" class="mat-raised-button" style="padding: 5px 30px;margin: auto;margin-bottom: 20px;" (click)="cancel()">Cancel</button>
    <button type ="btn-submit" class="mat-raised-button"style="padding: 5px 30px;margin: auto;margin-bottom: 20px;" (click)="onSubmit()">Update</button>   
</mat-dialog-actions>
