

.div-body {
    display: block;
    min-height: 695px;
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.nav-back a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: 300;
}

.nav-back {
    //margin: 30px 30px 30px;
    //padding: 10px 0 10px;
    margin-top: 40px;
    background: none;
    border: none;
}

.nav-back a:hover {
    color: #5F5173;
}

.title-header {
    display: flex;  
    align-items: left;
    vertical-align: center;
    padding: 38px 0 30px;
    text-decoration: none;
    flex-direction: column;
}

.title {
    font-size: 50px;
    text-decoration: none;
    //padding: 30px;
    color: #5F5173;
    margin-bottom: 20px;
}

.subtitle-section {
    display: flex;  
    align-items: center;
    vertical-align: center;
    text-decoration: none;
    padding-top: 15px;
}

.section-link a {
    text-decoration: none;
    font-size: 20px;
    //padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    color: white;
    font-weight: 300;
}

.section-link a:hover{
    color: #5F5173;
    cursor: pointer;
}

.section-title {
    color: black;
    margin-bottom: 30px;
    font-size: 30px;
}

.faq {
    background-color: rgba(255,255,255,0.75);
    color: black;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding: 50px;
    border-radius: .25em;
}

.faq-item {
    padding: 10px;
}

.hr {
    padding-top: 10px;
}

.examples {
    background-color: rgba(255,255,255,0.75);
    color: black;
    margin: 100px;
    padding: 50px;
    border-radius: .25em;
}

.question {
    color: #5F5173;
}

.example-item {
    color: #5F5173;
    padding: 10px;
}



