<button mat-button class="nav-back"><a routerLink=''> < Back to Home</a></button>
<div class="div-body">
    <div class="title-header">
        <h1 class="title">Help Page</h1>
        <div class="subtitle-section">
            <span class="section-link"><a href="/help#faq">FAQ</a></span>
            <span class="section-link"><a href="/help#examples">Examples</a></span>
        </div>
    </div>
    <a name="faq"></a>
    <div class="faq">
        <h2 class="section-title">Frequently Asked Questions</h2>
        <div class="faq-item">
            <h2 class="question">#1: How to Add a Course</h2>
            <p class="answer">This is a lengthy answer</p>
            <hr>
        </div>
        <div class="faq-item">
            <h2 class="question">#2: How to Add a Topic</h2>
            <p class="answer">This is a lengthy answer</p>
            <hr>
        </div>
        <div class="faq-item">
            <h2 class="question">#3: How to Add a Resource Group</h2>
            <p class="answer">This is a lengthy answer</p>
            <hr>
        </div>
        <div class="faq-item">
            <h2 class="question">#4: How to Add a File</h2>
            <p class="answer">This is a lengthy answer</p>
            <hr>
        </div>
        <div class="faq-item">
            <h2 class="question">#5: How to Add a Zoom Video</h2>
            <p class="answer">This is a lengthy answer</p>
            <hr>
        </div>
        <div class="faq-item">
            <h2 class="question">#6: How to Add a Question to the FAQ</h2>
            <p class="answer">This is a lengthy answer</p>
        </div>
    </div>
    <a name="examples"></a>
    <div class="examples">
        <h2 class="section-title">Examples to Get Started</h2>
        <div class="example-item">
            <h2 class="example-name">Example of Topics as Units</h2>
            <p class="answer">This is a lengthy explanation.</p>
            <hr>
        </div>
        <div class="example-item">
            <h2 class="example-name">Example of Topics as Chapters</h2>
            <p class="answer">This is a lengthy explanation.</p>
            <hr>
        </div>
        <div class="example-item">
            <h2 class="example-name">Example of Topics as Weeks</h2>
            <p class="answer">This is a lengthy explanation.</p>
            <hr>
        </div>
        <div class="example-item">
            <h2 class="example-name">Example of Topics as Books or Readings</h2>
            <p class="answer">This is a lengthy explanation.</p>
        </div>
    </div>

</div>
