
<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <header>

            <mat-toolbar class="footer">
                <span class="footer-spacer"></span>
                <span class="footer-item">Privacy Policy</span>
                <span class="footer-item">Acceptable Use Policy</span>
                <span class="footer-item">About</span>
                <span class="footer-item">Facebook</span>
                

            </mat-toolbar>
         
        </header>
    </body>
</html>
