
<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <header>

            <mat-toolbar class="footer">
                <span class="footer-spacer"></span>
                <span class="footer-item">Ashley van der Does</span>
                <span class="footer-item">Victoria Mei</span>
                <span class="footer-item">Anjali Massand</span>
                <span class="footer-item">Caitlin Lambert</span>
                <span class="footer-item">Dina Zakaria</span>

            </mat-toolbar>
         
        </header>
    </body>
</html>
