.div-body {
   display: block;
   min-height: 730px;
   margin: 0;
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 50px;
 }
  
 .nav-back a {
   background: none;
   border: none;
   text-decoration: none;
   font-size: 22px;
   color: white;
   font-weight: 300;
}
  
 .nav-back {
    //margin: 30px 30px 30px;
    //padding: 10px 0 10px;
    margin-top: 40px;
    background: none;
    border: none;
 }

 .nav-back a:hover {
   color: #5F5173;
}
  
 .image {
    display: block;
    font-size: 150px;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    height: 150px;
    padding: 20px;
 }
  
 .add-btn {
    font-size: 35px;
    width: 40px;
    height: 30px;
  //  color: rgb(85, 32, 116);
    color: black;
  //  float: right;
 }
  
 .add-btn:hover {
    color: white;
 }
  
 .add-btn-bg {
    border: none;
    background: none;
   // justify-content: flex-end;
    //position: absolute;
    //right: 630px;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
 }
  
 .add-btn:hover {
    cursor: pointer;
 }
  
 .title-header {
    display: flex; 
    align-items: left;
    vertical-align: center;
   padding: 38px 0 30px;
    text-decoration: none;
    flex-direction: column;
   
 }
  
 .title {
    font-size: 50px;
    text-decoration: none;
    padding: 30px;
    color: #5F5173;
    margin-bottom: 20px;
 }
  
 .background {
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
  //  background-color: white;
    border: 5px solid #5F5173;
    border-radius: .25em;
    padding-bottom: 20px;
 }
  
 .user {
    text-align: center;
    font-size: 40px;
    padding: 20px;
 }
  
 .details {
    text-align: center;
    font-size: 15px;
 }
 