<!DOCTYPE html>
<html>
       <div class="div-body">
           <button mat-flat-button class="nav-back"><a routerLink=''>  Home</a></button>
           <div class="title-header">
               <span class="title">Account Settings</span>
               <div class="background">
                 <!--  <button (click)="openAccountDialog()" class="button">Edit</button> -->
                   <button class="add-btn-bg" (click) = "openAccountDialog()"><mat-icon class="add-btn">edit</mat-icon></button>

                   <mat-icon class="image">account_circle</mat-icon>
                
                   <p class="user">{{firstName}} {{lastName}}</p>

                   <p class="details">{{studentProf}}</p>
                   <p class="details">{{univName}}</p>
                   
                   <p class="details file-btn">{{email}}
                        <mat-icon class="i-icon btn">perm_device_information</mat-icon>
                        <span class="tooltiptext">{{emailVerified}}</span>
                    </p> 

                   

                   <p class="details phone-btn">xxx-xxx-{{last4}}
                       <mat-icon class="i-icon btn">perm_device_information</mat-icon>
                       <span class="tooltiptext">{{phoneVerified}}</span>
                    </p>

               </div>
           </div>
 
       </div>
 
  
 
          
</html>
