.div-body {
   display: block;
   min-height: 730px;
   margin: 0;
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 50px;
 }
  
 .nav-back a {
   background: none;
   border: none;
   text-decoration: none;
   font-size: 22px;
   color: white;
   font-weight: 300;
}
  
 .nav-back {
    //margin: 30px 30px 30px;
    //padding: 10px 0 10px;
    margin-top: 40px;
    background: none;
    border: none;
 }

 .nav-back a:hover {
   color: #5F5173;
}
  
 .image {
    display: block;
    font-size: 150px;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    height: 150px;
    padding: 20px;
 }
  
 .add-btn {
    font-size: 35px;
    width: 40px;
    height: 30px;
  //  color: rgb(85, 32, 116);
    color: white;
  //  float: right;
 }
  
 .add-btn:hover {
    color:black;
 }
  
 .add-btn-bg {
    border: none;
    background: none;
   // justify-content: flex-end;
    //position: absolute;
    //right: 630px;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
 }
  
 .add-btn:hover {
    cursor: pointer;
 }
  
 .title-header {
    display: flex; 
    align-items: left;
    vertical-align: center;
   padding: 38px 0 30px;
    text-decoration: none;
    flex-direction: column;
   
 }
  
 .title {
    font-size: 50px;
    text-decoration: none;
    padding: 30px;
    color: #5F5173;
    margin-bottom: 20px;
 }
  
 .background {
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
  //  background-color: white;
    border: 5px solid white;
    border-radius: .25em;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
 }
  
 .user {
    text-align: center;
    font-size: 40px;
    padding: 20px;
 }
  
 .details {
    justify-content: center;
    text-align: center;
    font-size: 15px;

 }

 .i-icon{
   font-size: 15px;
   width: 10px;
   height: 10px;
 }


//.i-icon:hover{
  // color:black;
  // opacity: 1;
//}


.file-btn {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: center;
   text-justify: center;
   border: none;
   background: none;
  
   
}

.file-btn .tooltiptext {
 color: white;
 visibility: hidden;
 width: 200px;
 //height: 10px;
 background-color: none;
 text-align: center;
 font-size: 10px;
 border-radius: 6px;
 padding: 5px 0;
 padding-left: 7px;
 padding-bottom: 3px;
 padding-top: 10px;
 position: absolute;
 z-index: 1;
 bottom: 10%;
 left: 1%;
 margin-left: 440px;
 opacity: 0;
 transition: opacity 0.3s;
 }
 
 .file-btn .tooltiptext::after {
   content: "";
   position: absolute;
   /*top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;*/
 }
 
 .file-btn:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
 }

 .phone-btn {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: center;
   text-justify: center;
   border: none;
   background: none;
  
   
}

.phone-btn .tooltiptext {
 color: white;
 visibility: hidden;
 width: 200px;
 //height: 10px;
 background-color: none;
 text-align: center;
 font-size: 10px;
 border-radius: 6px;
 padding: 5px 0;
 padding-left: 7px;
 padding-bottom: 3px;
 padding-top: 10px;
 position: absolute;
 z-index: 1;
 bottom: 10%;
 left: 1%;
 margin-left: 415px;
 opacity: 0;
 transition: opacity 0.3s;
 }
 
 .phone-btn .tooltiptext::after {
   content: "";
   position: absolute;
   /*top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;*/
 }
 
 .phone-btn:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
 }


.btn {
   color: white;
   
}

//.btn:hover {
 //  color: black;
   
//}


 