<!DOCTYPE html>
<html>
  <head></head>
  <body>

    <div class="title-container">
      <span class="title-item">Courses</span>
      <span class="space"></span>
      <span><button (click) = "createCourse()">Add Course</button></span>
      <span><button (click) = "updateCourse()">Update Course</button></span>
      <span><button (click) = "deleteCourse()">Delete Course</button></span>
    </div>


    <mat-grid-list cols="1" rowHeight="200px">
      <!--We can add another grid title-->
     
      <mat-grid-tile class="card-container" rowspan="2">
        
        <ul>
          <li *ngFor="let item of courses" [routerLink]="['/course',item.id]">{{item.professor}} : {{item.courseName}} : {{item.courseDescription}} : {{item.id}}</li>
        </ul>
      
      </mat-grid-tile>

    
    </mat-grid-list>

    <!--<mat-grid-list cols="1" rowHeight="20px">
      <mat-grid-tile
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color">
        {{tile.text}}
      </mat-grid-tile>
    </mat-grid-list>-->


    <div class="container">
      <mat-grid-list cols="4" rowHeight="25px" gutterSize="10px">
        <mat-grid-tile class="card-container" >One</mat-grid-tile>
        <mat-grid-tile class="card-container" >Two</mat-grid-tile>
        <mat-grid-tile class="card-container" >Three</mat-grid-tile>
        <mat-grid-tile class="card-container" >Four</mat-grid-tile>
  
      </mat-grid-list>
    </div>
    
    
    

  </body>
</html>



