
.div-body {

    display: block;
    min-height: 780px;
    margin: 0;
}

.section-container {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.title-container {
    display: flex;  
    align-items: center;
    vertical-align: center;
    padding: 100px 0 30px;
    text-decoration: none;
    
}

.title-item a {
    font-size: 60px;
    text-decoration: none;
    padding-right: 10px;
    color: rgb(85, 32, 116);
}


.space {
    flex: 1 1 auto;
}

.card-container {
    border: 1px solid black;
}

.container {
    padding: 0;   
}

.add-btn {
    font-size: 35px;
    width: 40px;
    height: 30px;
    color: rgb(85, 32, 116);
}

.add-btn:hover {
    color: white;
}

.add-btn-bg {
    border: none;
    background: none;
    
}

.add-btn:hover {
    cursor: pointer;
}

.cardcont {
    align-items: center;
}

.appcoursecont:last-child {
    margin-right: 50px;
}

