@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: montserrat;
}


.logo-img {   //disappears after logging in
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 5px 5px;
    height: 200px;
  //  display: flex;
  //  justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
  //  border: 3px solid rgb(198, 194, 206);
    background-color: rgb(237, 231, 238);
    opacity: 0.65;
  //  margin-left: 200px;   
  //  margin-right: 50px;
    flex-direction: row;
    
   
}


#center {   // disappears when after logging in
   justify-content: center;
   display: flex;
}


.flex {    // disappears when after logging in
    display: flex;       
    justify-content: space-evenly;
    margin: auto;
}


//below styles for hover/overlay effect

  /*

.container {
    position: relative;
    width: 39.5%;
 //   border-radius: 5px 5px 5px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  
  
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 89.5%;
    height: 0;
    transition: .5s ease;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(237, 231, 238);
    margin:auto;
  }
  
.container:hover .overlay {
    opacity: 1;
    bottom: 0;
    height: 100%;
  }
  

.description {  
    font-family: montserrat;
    text-align: center;
    display: block;
    width: 100%;
    white-space: nowrap; 
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}

*/

