
  <!--<amplify-authenticator usernameAlias="email">-->
   <!--  <amplify-sign-in header-text="My Custom Sign In Text" slot="sign-in"></amplify-sign-in> -->
    <!-- <amplify-sign-up
      slot="sign-up"
      usernameAlias="email"
      [formFields]="formFields"
  

      ></amplify-sign-up>
      <amplify-sign-in slot="sign-in" usernameAlias="email"></amplify-sign-in>
       <amplify-sign-in slot="sign-in" usernameAlias="first_name"></amplify-sign-in>  -->
  <amplify-authenticator>
    <div class="remove-space">
      <app-nav-bar></app-nav-bar>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </amplify-authenticator> 

