
 <amplify-authenticator usernameAlias="email">
   
     <amplify-sign-up
      slot="sign-up"
      usernameAlias="email"
      [formFields]="formFields"
  

      ></amplify-sign-up>
      <amplify-sign-in slot="sign-in" usernameAlias="email"></amplify-sign-in>
       
  
       <div class="remove-space">
          <app-nav-bar></app-nav-bar>
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </div>
   <amplify-authenticator>
    
   <!-- </amplify-authenticator>  -->

 

