@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: montserrat;
    width: 100%;
} 


.flex {   
  // disappears when after logging in
  //Outside container
  height: 750px;
  padding-top: 200px;
  background-color:rgb(204, 184, 241);
  display: flex;       
  justify-content: space-evenly;
  margin: auto;
  //flex-wrap: wrap;
  
}


.logo-img {   //disappears after logging in
    //display: block;
    //margin-left: auto;
    //margin-right: auto;
    border-radius: 5px 5px 5px 5px;
    //height: 200px;
  //  display: flex;
  //  justify-content: center;
    
  //  border: 3px solid rgb(198, 194, 206);
    //background-color: rgb(237, 231, 238);
    //opacity: 0.65;
  //  margin-left: 200px;   
  //  margin-right: 50px;
    flex-direction: row;
    
    
    
    width: 600px;
    
    

    margin: 0px 50px 20px 200px;
    padding: 0 100px 0 30px;


    text-align: center;
    font-size: 100px;
   
}

img.logo-img {
  margin: 0px 110px 20px 140px;
}


#signin {   // disappears when after logging in
   justify-content: center;
   display: flex;
   
  
   //margin-left: 120px;
}

.description {
  font-family: montserrat;
  width: 650px;
  font-size: 45px;
  color: white;
}

h3.description {
  font-size: 20px;
  font-weight: 200;
}

section.section {
  margin-right: 100px;
}

@media only screen and (max-width: 750px) {}


//below styles for hover/overlay effect

  /*

.container {
    position: relative;
    width: 39.5%;
 //   border-radius: 5px 5px 5px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  
  
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 89.5%;
    height: 0;
    transition: .5s ease;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(237, 231, 238);
    margin:auto;
  }
  
.container:hover .overlay {
    opacity: 1;
    bottom: 0;
    height: 100%;
  }
  

.description {  
    font-family: montserrat;
    text-align: center;
    display: block;
    width: 100%;
    white-space: nowrap; 
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}

*/

