
.file {
    display: flex;
    vertical-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #5F5173;
    font-size: large;
}

.spacer {
    flex: 1 1 auto;
}

.add-btn-bg {
    border: none;
    background: none;
    
}

.btn {
    color: #5F5173;
    
}

.btn:hover {
    color: black;
    
}


  
  