<!--fileName is not connected to anything right now-->
<ng-container *ngIf="fileType != 'link'">
<div class="file">
    <span class="file-name">
      <span>{{fileName}}</span>
      <span class="tooltiptext">{{fileId}}</span>
    </span>
    <span class="spacer"></span>
    <span>
      <button class="file-btn" (click)="onDownload()">
        <mat-icon class="btn">get_app</mat-icon>
        <span class="tooltiptext">Download</span>
      </button>
    </span>
    
    <ng-template [ngIf] = "isProfessor">
                    
      <span>
        <button class="file-btn" (click)="onDelete()">
          <mat-icon class="btn">delete</mat-icon>
          <span class="tooltiptext">Delete</span>
        </button>
      </span>
 
  </ng-template>

    
  </div>
</ng-container>

<ng-container *ngIf="fileType == 'link'">
  <div class="file" >
      <span><a href="{{fileDescription}}" target="_blank">{{fileName}}</a></span>
      <!-- <span class="tooltiptext">{{fileDescription}}</span> -->
      <span class="spacer"></span>
    
      <!-- <span>
        <button class="file-btn" (click)="onDownload()">
          <mat-icon class="btn">get_app</mat-icon>
          <span class="tooltiptext">Download</span>
        </button>
      </span> -->
      <ng-template [ngIf]="isProfessor">
      <span >
        <button class="file-btn" (click)="onDelete()">
          <mat-icon class="btn">delete</mat-icon>
          <span class="tooltiptext">Delete</span>
        </button>
      </span>
      </ng-template>
    </div>
  </ng-container>
  
