<!--fileName is not connected to anything right now-->
<div class="file">
    <span>{{fileName}}</span>
    <span class="spacer"></span>
    <span title="I am hovering over the text">
      <button class="file-btn" (click)="onDownload()">
        <mat-icon class="btn">get_app</mat-icon>
        <span class="tooltiptext">Download</span>
      </button>
    </span>
    
    <span>
      <button class="file-btn" (click)="onDelete()">
        <mat-icon class="btn">delete</mat-icon>
        <span class="tooltiptext">Delete</span>
      </button>
    </span>
  </div>
