
.file {
    display: flex;
    vertical-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #5F5173;
    font-size: large;
}

.file-name {
  position: relative;
  display: inline-block;
}

.file-name .tooltiptext {
  visibility: hidden;
  width: 600px;
  background-color: none;
  text-align: left;
  font-size: 10px;
  border-radius: 6px;
  padding: 5px 0;
  padding-left: 7px;
  padding-bottom: 3px;
  padding-top: 10px;
  //position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: 0px;
  opacity: 0;
  transition: opacity 0.3s;
}

.file-name:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.spacer {
    flex: 1 1 auto;
}

.file-btn {
    position: relative;
    display: inline-block;
    border: none;
    background: none;
    
}

.file-btn .tooltiptext {
  color: #333;
  visibility: hidden;
  width: 100px;
  background-color: none;
  text-align: center;
  font-size: 10px;
  border-radius: 6px;
  padding: 5px 0;
  padding-left: 7px;
  padding-bottom: 3px;
  padding-top: 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  }
  
  .file-btn .tooltiptext::after {
    content: "";
    position: absolute;
    /*top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;*/
  }
  
  .file-btn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.btn {
    color: #5F5173;
    
}

.btn:hover {
    color: black;
    
}


  
  