<h2 mat-dialog-title>Add Course</h2>
    <mat-dialog-content class ="container">
        <form novalidate [formGroup]= "course" > <!--(ngSubmit)="onSubmit(course)" -->
            <label>
                <span>Course Name:</span>
                <input type="text" formControlName="courseName">
            </label>

           <br>
           <label>
                <span>Course Description:</span>
                <input type="text" formControlName="courseDescription">
            </label>
           <br>
           <label>
                <span>id:</span>           
            <input type="string" formControlName="id">
            </label>
        </form>

    </mat-dialog-content>

<mat-dialog-actions>
    <button class="btn-cancel" class="mat-raised-button" stye="padding: 5px 30px;" (click)="cancel()">Cancel</button>
    <button type ="btn-submit" class="mat-raised-button" (click)="onSubmit()">Create</button>   
</mat-dialog-actions>
