<h2 mat-dialog-title>Add Course</h2>
    <mat-dialog-content class ="container">
        <form [formGroup] = "course" >
            Course Name:
            <input type="text" formControlName="courseName">
           <br>
            Course Description:
            <input type="text" formControlName="courseDesc">
           <br>
            Course Code:
            <input type="text" formControlName="accessCode">
            <br>
            Access Code:
            <input type="number" formControlName="accessCode">
            <br>
            Number of Topics:
            <input type="number" formControlName="topicNum" outline ="none" >
        </form>
    </mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Create</button>
</mat-dialog-actions>
