<h2 mat-dialog-title style ="text-align: center;">ADD A RESOURCE</h2>
    <mat-dialog-content class ="container">


        <mat-tab-group>
            <mat-tab label="FILE / LINK">
            <form novalidate class="resource-form" [formGroup]= "fileForm"  > <!--(ngSubmit)="onSubmit(course)" -->

                <p> 
                    <mat-form-field appearance ="legacy" class="input-fields">
                        <mat-label style="font-size:15px; ">Resource Name</mat-label>
                        <input matInput type="text" formControlName="fileName" >
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="legacy" class="input-fields">
                        <mat-label style="font-size:15px;">Resource Group</mat-label>
                        <mat-select [(value)]="resourceGroupSelected" formControlName="groupName">
                            <mat-option *ngFor="let item of resourceGroups" [value]=item.groupName>
                                {{item.groupName}}
                            </mat-option>
                            <mat-option value ="New Resource Group">New Resource Group</mat-option>
                            <!-- <mat-option value ="Resource Group 2">Resource Group 2</mat-option>  -->
                        </mat-select>
                    </mat-form-field>
                    <ng-container *ngIf="resourceGroupSelected == 'New Resource Group'">
                        <p> 
                            <mat-form-field appearance ="legacy" class="input-fields">
                                <mat-label style="font-size:15px; ">Resource Group Name</mat-label>
                                <input matInput type="text" formControlName="groupName" >
                            </mat-form-field>
                        </p>
                    </ng-container>
                </p>

                <p>
                    <mat-form-field appearance="legacy" class="input-fields">
                        <mat-label style="font-size:15px;">File Type</mat-label>
                        <mat-select [(value)]="fileTypeSelected" formControlName="fileType">
                            <mat-option value ="Link">Link</mat-option>
                            <mat-option value ="File">File</mat-option>
                        </mat-select>             
                    </mat-form-field>

                    <ng-container *ngIf="fileTypeSelected == 'Link'">
                        <p>
                            <mat-form-field appearance ="legacy" class="input-fields">
                                <mat-label style="font-size:15px; ">URL</mat-label>
                                <input matInput type="url" formControlName="fileDescription" >
                            </mat-form-field>
                        </p>
                    </ng-container>

                    <ng-container *ngIf="fileTypeSelected == 'File'">
                        <!-- upload a file -->
                            <form [formGroup] = "getFileGroup" >
                                <mat-button><input type="file" (change)="onFileChange($event)" /> </mat-button>
                                <!-- <input type="submit" [disabled]="getFileGroup.invalid" value="upload" /> -->
                            </form>
                        
                    </ng-container>
                </p>
               

            </form>
            </mat-tab>


            <mat-tab label="VIDEO">  
                <form novalidate class="resource-form" [formGroup]= "fileForm"  > <!--(ngSubmit)="onSubmit(course)" -->

                    <p> 
                        <mat-form-field appearance ="legacy" class="input-fields">
                            <mat-label style="font-size:15px;">Video Name</mat-label>
                            <input matInput type="text" formControlName="fileName" >
                            <mat-hint style="font-size: 12px;">*all videos added can be found in the playlist</mat-hint>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field appearance="legacy" class="input-fields">
                            <mat-label style="font-size:15px;">File Type</mat-label>
                            <mat-select [(value)]="fileTypeSelected">
                                <mat-option value ="link">Link</mat-option>
                                <mat-option value =".mp4">.Mp4</mat-option>
                            </mat-select>             
                        </mat-form-field>

                        <ng-container *ngIf="fileTypeSelected == 'link'">
                            <p> 
                                <mat-form-field appearance ="legacy" class="input-fields">
                                    <mat-label style="font-size:15px; ">URL</mat-label>
                                    <input matInput type="url" formControlName="url" >
                                </mat-form-field>
                            </p>
                        </ng-container>
    
                        <ng-container *ngIf="fileTypeSelected == '.mp4'">
                            <form  [formGroup] = "getFileGroup">
                                <input  type="file" (change)="onFileChange($event)" /> 
                                <!-- <input type="submit" [disabled]="getFileGroup.invalid" value="upload" /> -->
                            </form>
                        </ng-container>
                    </p>
            
                    </form>

            </mat-tab>
          </mat-tab-group>


        


    </mat-dialog-content>

<mat-dialog-actions>
    <button class="btn-cancel" class="mat-raised-button" style="padding: 5px 30px; margin: auto; margin-bottom: 20px;" (click)="cancel()">Cancel</button>

    <!--<ng-container >
        <button type ="btn-submit" class="mat-raised-button" style="padding: 5px 30px;margin: auto;margin-bottom: 20px;" (click)="onResourceSubmit()">Add</button>   
    </ng-container>-->
    <ng-container *ngIf="resourceGroupSelected == 'New Resource Group'">
        <button type ="btn-submit" class="mat-raised-button" style="padding: 5px 30px;margin: auto;margin-bottom: 20px;" (click)="addResource(true)">Add</button>   
    </ng-container>

    <ng-container *ngIf="resourceGroupSelected != 'New Resource Group'">
        <button type ="btn-submit" class="mat-raised-button" style="padding: 5px 30px;margin: auto;margin-bottom: 20px;" (click)="addResource(false)">Add</button>   
    </ng-container>
    
</mat-dialog-actions>