
  
<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <header>

            <mat-toolbar class="header">
                <span>Logo Img</span>
                <span class="header-spacer"></span>
                <span class="welcome-space">Welcome {{profName}}</span>
                <!--Anjali's Welcome Professor-->

                 <button class="profile-btn" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon class="profile-icon">account_circle</mat-icon>
                 </button>
                    <mat-menu #menu="matMenu">
                    <button mat-menu-item>Account Settings</button>
                    <button mat-menu-item>Sign Out</button>
                    </mat-menu> 

              </mat-toolbar>

              <!-- <button (click) = "displayName()">display name</button>  -->
            <h1>{{profName}}</h1>
            
        </header>
    </body>
</html>



