.div-body {
    display: block;
    min-height: 790px;
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.nav-container {
    margin-top: 20px;
}

.nav-container a {
    text-decoration: none;
    font-size: 24px;
    color: whitesmoke;

}

.title-container {
    display: flex;  
    align-items: center;
    vertical-align: center;
    padding: 60px 0 30px;
    text-decoration: none;
    
}

.title-item a {
    font-size: 50px;
    text-decoration: none;
    padding-right: 40px;
    color: rgb(94, 12, 119);
}

.space {
    flex: 1 1 auto;
}

.add-btn {
    font-size: 35px;
    width: 40px;
    height: 30px;
    color: rgb(94, 12, 119);
}


.add-btn:hover {
    cursor: pointer;
}

.add-btn-bg {
    border: none;
    background: none;
    
}

.cardcont {
    align-items: center;
}