<!DOCTYPE html>
<html>
    <head></head>
    <body>
       <!-- <p>course-screen works! {{courseId}}</p> -->
        <div class="section-container">

            <div class="title-container">
                <span class="title-item"><a routerLink='/course'>Courses ></a></span>
                <span class="title-item"><a [routerLink]="['/course', this.courseId]">Topics</a></span>
                <span class="space"></span>
                <span><button class="add-btn" (click) = "createTopic()">+</button></span>
            </div>

            <!--this is just an example topic! delete when we have real working topics-->
            <app-topic [professor]="this.topicObject.professor" [topic]="this.topicObject.TopicName" [topicDescription]="this.topicObject.TopicDescription" [topicID]="this.topicObject.id"></app-topic>

            <ul>
                <li *ngFor="let item of topics"><app-topic [professor]="item.professor" [topic]="item.TopicName" [topicDescription]="item.TopicDescription" [topicID]="item.id"></app-topic></li>
            </ul>

        </div>

    </body>
</html>
