<h2 mat-dialog-title style ="text-align: center;">UPDATE COURSE</h2>
    <mat-dialog-content class ="container">
        <form novalidate class="course-form" [formGroup]= "course" > <!--(ngSubmit)="onSubmit(course)" -->
        <p>
            <mat-form-field appearance ="legacy" class="input-fields">
                <mat-label style="font-size:18px; ">Course Name</mat-label>
                <input matInput type="text" formControlName="courseName" value={{name}}>
            </mat-form-field>
        </p>  

        <p>
            <mat-form-field appearance ="legacy" class="input-fields">
                <mat-label style="font-size:18px;">Course Description</mat-label>
                <textarea matInput type="text" formControlName="courseDescription" value={{description}}> </textarea> 
            </mat-form-field>
        </p>

        </form>


    </mat-dialog-content>

<mat-dialog-actions>
    <button class="btn-cancel" class="mat-raised-button" style="padding: 5px 30px; margin: auto; margin-bottom: 20px;" (click)="cancel()">Cancel</button>
    <button type ="btn-submit" class="mat-raised-button" style="padding: 5px 30px;margin: auto;margin-bottom: 20px;" (click)="onSubmit()">Update</button>   
</mat-dialog-actions>
