

.div-body {

    display: block;
    min-height: 790px;
    margin: 0;
}

.nav-back a {
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 15px;
}

.nav-back {
    margin: 30px 30px 30px;
    padding: 10px 0 10px;
}

.title-header {
    display: flex;  
    align-items: left;
    vertical-align: center;
    padding: 20px 0 10px;
    text-decoration: none;
    flex-direction: column;
}

.title {
    font-size: 50px;
    text-decoration: none;
    padding: 30px;
    color: rgb(94, 12, 119);
    margin-bottom: 20px;
}

.subtitle-section {
    display: flex;  
    align-items: center;
    vertical-align: center;
    text-decoration: none;
    padding-top: 15px;
}

.section-link a {
    text-decoration: none;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    color: white;
}

.section-link a:hover{
    color: rgb(94, 12, 119);
    cursor: pointer;
}

.history-content {
    background-color: white;
    color: black;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: .25em;
    padding: 50px;
}

.creators {
    color: black;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 30px;
    padding: 25px;
}

.section-title {
    text-align: center;
    font-size: 40px;
    color: black;
    margin-bottom: 40px;
    margin-top: 75px;
}

.imgs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.creator-card {
    max-width: 290px;
    min-width: 100px;
    max-height: 500px;
    margin: 20px 0;
}

.cardcont {
    align-items: center;
}

.default-img {
    max-height: 40px;
}

.example-header-image {
    background-image: url('https://builtin.com/sites/default/files/styles/ckeditor_optimize/public/inline-images/women-in-tech-pillar-page-online-communities-for-women.png');
    background-size: cover;
}














