
<div class="div-body">
    <button mat-flat-button class="nav-back"><a routerLink=''> < Home</a></button>
    <div class="title-header">
        <span class="title">About Acorn Resources</span>
        <div class="subtitle-section">
            <span class="section-link"><a href="/about#history">Behind the Project</a></span>
            <span class="section-link"><a href="/about#creators">Creators</a></span>
        </div>
    </div>
    <div class="history">
        <div class="section-title">Behind the Project</div>
    </div>
    <div class="creators">
        <div class="section-title">Creators</div>
    </div>
</div>