

.div-body {
    display: block;
    min-height: 695px;
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.nav-back a {
    background: none;
    border: none;
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: 300;
}

.nav-back {
    //margin: 30px 30px 30px;
    //padding: 10px 0 10px;
    margin-top: 40px;
    background: none;
    border: none;
}

.nav-back a:hover {
    color: #5F5173;
}

.title-header {
    display: flex;  
    align-items: left;
    vertical-align: center;
    padding: 38px 0 30px;
    text-decoration: none;
    flex-direction: column;
}

.title {
    font-size: 50px;
    text-decoration: none;
    //padding: 30px;
    color: #5F5173;
    margin-bottom: 20px;
}

.subtitle-section {
    display: flex;  
    align-items: center;
    vertical-align: center;
    text-decoration: none;
    padding-top: 15px;
}

.section-link a {
    text-decoration: none;
    font-size: 22px;
    //padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    color: white;
    font-weight: 300;
}

.section-link a:hover{
    color: #5F5173;
    cursor: pointer;
}

.history-content {
    background-color: rgba(255, 255, 255, 0.699);
    color: black;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: .25em;
    padding: 50px;
}

.creators {
    color: black;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 30px;
    padding: 25px;
}

.section-title {
    text-align: center;
    font-size: 40px;
    color: black;
    margin-bottom: 40px;
    margin-top: 75px;
}

.imgs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.creator-card {
    max-width: 310px;
    //min-width: 100px;
    height: 250px;
    margin: 20px 0;
}

.cardcont {
    align-items: center;
}

.default-img {
    max-height: 40px;
}

.example-header-image {
    background-image: url('https://builtin.com/sites/default/files/styles/ckeditor_optimize/public/inline-images/women-in-tech-pillar-page-online-communities-for-women.png');
    background-size: cover;
    height: 64px;
    width: 64px;
    margin-bottom: 10px;
}

.caitlin-image {
    background-image: url('src/assets/caitlin-prof-pic.jpg');
}


.anjali-image {
    background-image: url('src/assets/anjali-prof-pic.jpeg');
}

.dina-image {
    background-image: url('src/assets/dina-prof-pic.jpg');
}


.ashley-image {
    background-image: url('src/assets/ashleyprofilepic.jpg');

}

.victoria-image {
    background-image: url('src/assets/victoria-prof-pic.jpg');
}













