
<body>
    <p>topic-screen works!</p>
    <h1>Topic Id: {{topicId}}</h1>
    <h2>Topic Name: {{topicName}}</h2>
    <!--<h3>Course: {{courseId}}</h3>-->

     <div class="section-container">

         <!--<div class="title-container">
             <span class="title-item"><a routerLink='/course'>Courses ></a></span>
             <span class="title-item"><a [routerLink]="['/course', this.courseId]">Topics ></a></span>
             <span class="title-item"><a [routerLink]="['/topic', this.topicId]">{{topicName}}</a></span>
            are we having an overall add button here?
         </div>-->


     </div>

 </body>