.div-body {
    display: block;
    min-height: 770px;
    margin: 0;
}

.section-container {
    margin-left: 100px;
    margin-right: 100px;
}

.title-container {
    display: flex;  
    align-items: center;
    vertical-align: center;
    padding: 100px 0 30px;
    text-decoration: none;
    
}

.title-item a {
    font-size: 50px;
    text-decoration: none;
    padding-right: 40px;
    color: rgb(92, 17, 141);
}

.space {
    flex: 1 1 auto;
}

