.rg {
    background-color: white;
}

.rg-title {
    font-size: x-large;
    height: 30px;
    padding-top: 6px;
}

.file {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(94, 12, 119);
    font-size: large;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}

.buttons {
    display: flex;
    align-items: right;
}